body{
  padding: 2px;
}

a{
  text-decoration: none;
}

.heading{
  padding: 20px;
}
.side-bar{
  height: 100vh;
  width: 30vh;
  background-image: linear-gradient(180deg, #242444 0%, #189de4 100%);
  color: #fff;
}

.side-bar a{
  color: #fff;
}

.side-bar-menu li{
  list-style: none;
  padding: 30px;
  color: #fff;
}

.header-bar{
  background-color: #46648c;
  text-transform: uppercase;
  height: 8vh;
  position: relative;
  padding: 10px;
}

.logout{
  left:100%;
  transform: translate(-100%);
  position: absolute;
  padding: 10px;

}

.logout a{
  color: #fff;
}

.content{
  display: flex;
  flex-direction: row;
}

.dashboard-content{
  width: 100%;
}

.content-body{
  padding:40px;
  height: 100%;
}
